<div class="search-form">
  <%= render 'weddings/search_guest' %>
</div><br>
<hr>
<div id="all-guests">
  <ul class="all-guests" style="list-style-type: none;">
    <% all_guests.each do |guest| %>
      <li class="guest-name" data-id="<%= guest.id%>">
        <div class="col-md-6">
          <h5>
            <%= guest.name %>
          </h5>
        </div>

        <div class="col-md-6 text-right">
          <button class="btn btn-default add-guest">Add to Table</button>
        </div>
      </li>
    <% end %>
  </ul>
</div>
