<div class="modal fade" id="SignIn" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Sign In</h4>
      </div>
      <% unless user_signed_in? %>
        <div class="modal-body">
          <%= render partial: "shared/basic_sign_in" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
