<p>Hello,</p>
<p>You've Been invited to Join a wedding planner by <%= @wedding.owner.first_name %>.</p>
<p>To accept this invitation and sign up click here: <%= @wedding.name %></p>

<p>Regards,</p>
<p>I do Team.</p>
