<% if @guests.present?%>
  <% @guests.each do |guest| %>
    <li class="guest-name" id="<%= dom_id(guest)%>">
      <%= guest.name %>
    </li>
  <%end%>
<%else%>
    <p>There is no Guest containing the term(s):  <%= params[:search] %>.</p>
<% end %>
