<% if @guests.present?%>
  <% @guests.each do |guest| %>
  <li class="guest-name" id="<%= dom_id(guest)%>">
    <%= guest.first_name %> <%= guest.last_name%>
    <a>
      <span class="glyphicon glyphicon-arrow-right pull-right confirm"></span>
    </a>
    <hr>
  </li>
  <%end%>
<%else%>
    <p>There is no Guest containing the term(s):  <%= params[:search] %>.</p>
<% end %>
