/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "chosen";
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "hopscotch";
 @import "jquery-ui";

body {
 background-image: url('background4.png');
 // font-family: 'Dancing Script', cursive;
 font-family: 'Raleway', sans-serif;
 padding: 0;
 background-repeat: repeat;
}
.background {
  background: rgba(255, 255, 255, 0.3);
}
.jumbotron-lua {
  background-image:url('lua.jpg');
  background-position: bottom center;
  height: 550px;
  width: auto;
  background-repeat: no-repeat;
  /*background-size: 100% 100%;*/
}
.delete {
text-align: right;
}
td {
  text-align: center;
}
.names {
  text-align: left;
}
h1 {
  text-align: center;
}
.form-guest{
  vertical-align: top;
}
.search-form {
  text-align: right;
  float: right;
}
span.search {
  position: relative;
  top: 5px;
  opacity: 1;
}
.tag-index {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}
.guest-view{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.wedding-show {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  height: 200px;
  width: 310px;
}
.wedding-show h4 {
  margin: 20px 0;
}
.note-footer {
  font-size: 12px;
}
.center {
  text-align: center;
}

.guests {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  height: 300px;
  overflow: scroll;
}
.guest-name {
  margin-bottom: 5px;
  background-color: none;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 10px 16px;
  cursor: pointer;
  overflow: hidden;
}

#all-guests ul {
    margin: 0 20px;
    padding: 0;
}
.registry {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  height: 500px;
  overflow: scroll;
}

.glyphicon-calendar, .glyphicon-gift, .glyphicon-list-alt  {
  font-size: 100px;
}
.wedding-box {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  height: 300px;
  width: 300px;
  text-align: center;
}
.wedding-pic-show {
  width: 280px;
  height: auto;
  border-radius: 5px;
}
div.hopscotch-content, .hopscotch-title{
  font-family: 'Raleway', sans-serif;
}
div.hopscotch-bubble .hopscotch-nav-button.next {
  &:hover {

    background-color: darkgrey;
    background-image: none;
  }
  color: black;
  background-color: lightgrey;
  border-color: #ccc;
  background-image: none;
}

div.hopscotch-bubble .hopscotch-bubble-number, .hopscotch-bubble-close {
  background: none;
}
.nav-tabs{
  position: relative;
  top: 1px;
}

.active {
  background-color: white;
}
.hired-tab {
  background-img: url('background4.png');
  padding: 0;
}
.toggle-table{
  background-color: white;
  border-top: none
}
.button-success {
  opacity: 0.3;
}

.all-guests{
  button{
    opacity: 0.60;
    filter: alpha(opacity =60);
    &:hover{
      opacity: 1;
    }
  }
}
.guest-name .active{
  opacity: 1;
}

@media screen and (max-width: 480px) {
    #all-guests {
      ul{
        li{
          text-align: center;
          div{
            text-align: center;
          }
        }
      }
    }
}

.pic {
  float: left;
  padding: 20px;
}
